.card {
  border: 1px solid hsla(0, 0%, 14%, 0.751);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.085);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 600px;
  display: inline-block;
}

.card .card-img {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text {
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 40%);
}

.student {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px;
  border: 1px solid hsla(0, 0%, 50%, 0.8);
}

.student p {
  margin: 2px;
}

.welcome-message {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: hsl(37, 58%, 83%);
  color: black;
  padding: 10px;
  border-radius: 5px;
  margin: 0%;
}

.login-prompt {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: hsl(37, 58%, 83%);
  color: red;
  padding: 10px;
  border-radius: 5px;
  margin: 0%;
}

.list-category {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: hsl(0, 0%, 20%);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 10px;
  background-color: hsl(35, 46%, 90%);
}

.list-items li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  list-style: none;
  color: hsl(0, 2%, 28%);
  text-align: center;
  margin: 0;
}

.list-items li:hover {
  color: black;
  cursor: pointer;
}

.counter-container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.count-display {
  font-size: 7em;
  margin-top: 0;
  margin-bottom: 50px;
}

.counter-button {
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: lighter;
  margin: 0px 5px;
  background-color: hsl(39, 73%, 56%);
  color: rgb(55, 57, 59);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.counter-button:hover {
  background-color: hsl(39, 53%, 46%);
  border-radius: 10px;
}

.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 50px;
  font-size: 3rem;
}

.color-display {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid hsl(0, 1%, 72%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}

.color-display p {
  color: hsl(0, 0%, 20%);
  font-size: 1.5em;
  text-align: center;
}

label {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

input[type="color"] {
  width: 75px;
  height: 40px;
  padding: 3px;
  border-radius: 15px;
  border: 3px solid hsl(0, 1%, 72%);
}
