/* external css + Module css */
.button {
  background-color: hsl(200, 100%, 50%);
  color: antiquewhite;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin: 10px;
}

.button:hover {
  cursor: pointer;
  color: hsl(30, 25%, 6%);
}
